{
  "presets": [
    ["env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7", "ie >= 7"]
        }
      }
    ],
		"next/babel",
    "react",
		"stage-0"
  ],
	"plugins": [
		["module-resolver", {
			"root": ["./"]
		}]
	]
}
