{
	"parser": "babel-eslint",
	"extends": "airbnb",
	"plugins": [
		"react"
	],
	"env": {
		"browser": true,
		"node": true
	},
	"rules":{
		"quotes": ["error", "single"],
		"comma-dangle": ["error", {
			"arrays": "never",
			"objects": "never",
			"imports": "never",
			"exports": "never",
			"functions": "ignore"
		}],
		"jsx-a11y/anchor-is-valid": [ "off", {
			"components": [ "Link" ],
			"specialLink": [ "hrefLeft", "hrefRight" ],
			"aspects": [ "noHref", "invalidHref", "preferButton" ]
		}],
		"indent": [2, "tab", { "SwitchCase": 1, "VariableDeclarator": 1 }],
		"no-tabs": 0,
		"react/prop-types": 0,
		"react/jsx-indent": [2, "tab"],
		"react/jsx-indent-props": [2, "tab"],
		"react/jsx-closing-bracket-location" : 0,
		"react/jsx-first-prop-new-line": "off",
		"react/jsx-max-props-per-line": "off",
		"import/no-extraneous-dependencies": "off",
		"object-curly-newline": "off",
		"react/jsx-no-bind": "off",
		"import/first": "off",
		"no-confusing-arrow": "off",
		"import/extensions": "off",
		"spaced-comment": "off",
		"consistent-return": "off",
		"react/no-array-index-key": "off",
		"react/jsx-filename-extension": "off",
		"import/prefer-default-export": "off",
		"react/no-danger": "off",
		"react/no-unknown-property": "off",
		"object-curly-spacing" : 0,
		"arrow-body-style": 0,
		"no-console": 0,
		"max-len": 0,
		"prefer-template": 0,
		"import/no-unresolved": 0,
		"global-require": 0,
		"no-underscore-dangle": 0
	}
}
